$background-bg:#ffffff;
$background-btn:transparent;
$background-input:#aca8a9;
$background-border:#dcdfe6;
$background-font:#3A3939;
$selectWidth:3rem;
html{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.am-h1{
  font-size: 0.24rem
}
.am-h2{
  font-size: 0.36rem
}
.am-h3{
  font-size: 0.48rem
}
.am-h4{
  font-size: 0.6rem
}
.am-h5{
  font-size: 0.72rem
}
.am-h6{
  font-size: 0.84rem
}
.text-center{
  text-align: center;
}
.am-margin-center{
  margin:0 auto;
}
.am-margin-top-1{
  margin-top:1rem;
}
.am-margin-top-2{
  margin-top:1.5rem;
}
.am-margin-top-3{
  margin-top:2rem;
}
.am-input {
  position: relative;
  width: 6rem;
  border-bottom: 1px solid $background-border;

  vertical-align: middle;
  font-size: 0.4rem;
  .am-input-icon {
    position: absolute;
    top: 0.2rem;
    font-size: 0.6rem;
    padding: 0 0.1rem;
  }
  input {
    line-height: 1rem;
    padding-left: 50px;
    &::placeholder{
      color: $background-font;
    }
  }
}
.input_tip_text{
  position: absolute;
  top: -0.8rem;
  pointer-events: none;
  &.active{
    transform: translate(0,0) scale(0.9);
  }
  transform: translate(1rem,1rem);
  transition: transform 0.5s;
  font-size: 0.5rem;
  transform-origin: left bottom;
}
.padding-top-1{
  padding-top: 1rem;
}
.padding-top-2{
  padding-top: 2rem;
}
.am-router-text{
  font-size: 0.5rem;
  color: #337ab7;
}
.am-background{
 position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background: $background-bg;
}
.am-btn{
  width: 6rem;
  border-radius:4px;
  line-height: 1rem;
  display: block;
  font-weight: bold;
  background: $background-btn;
  border:2px solid $background-border;
}
.am-text-color-darkblu{
  color: #3e5370;
}
.am-select{
  height: 1rem;
  width: $selectWidth;
  line-height: 1rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid $background-border;
  position: relative;
  z-index: 100;
  ul {
    position: absolute;
    border-radius: 4px;
    max-height: 0;
    width: 100%;
    overflow: scroll;
    border: 1px solid $background-border;
    transition: max-height 1s;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background-color: $background-bg;
    .arrow{
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 6px;
      filter: drop-shadow(0 2px 12px rgba(0,0,0,.03));
      top: -6px;
      left: 50%;
      margin-right: 3px;
      border-top-width: 0;
      border-bottom-color: #ebeef5;
      &::after{
        top: 1px;
        margin-left: -6px;
        border-top-width: 0;
        border-bottom-color: #fff;
        content: " ";
        border-width: 6px;
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
      }
    }
    li{
      height: 1rem;
      width: 100%;
      line-height: 1rem;
      text-align: center;
      position: relative;
      background: white;
      border-bottom: 1px solid $background-border;
      .icon{
        position: absolute;
        right: 0.1rem;
        opacity: 0;
      }
      &.active .icon{
        opacity: 1;
      }
    }
    li:last-child {
      border-bottom:none
    }
  }
  .item {
    height: inherit;
    width: 100%;
    line-height: inherit;
    position: relative;
    text-align: center;

    .icon{
      position: absolute;
      right: 0.1rem;
      transform: rotate(90deg);
      transition: transform 0.5s;

    }
  }
  &.active .item .icon {
    transform: rotate(0deg);
  }
  &.active ul{
    max-height: 4rem;
  }
}
.am-border-none{
  border:none;
}
