.iscroll {
  overflow: hidden !important;
  position: relative;
}

.iscroll-content {
  position: relative;
  z-index: 1;
  transform: translateZ(0);
  width: 100%;
  user-select: none;
  text-size-adjust: none;
}
